
  <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="no title">
    <!-- Custom Script -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
  <script src="assets/js/admin_page.js" type="text/javascript"></script>

  <!-- Navigation -->

  <div class="container blog">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-default" href="/authors"><== Back</a>
      </div>
      <div class="col-md-2 col-sm-2">
       <!-- <a class="btn btn-default" href="/authors">Manage Posts</a> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 blog-container">
      </div>
    </div>
  </div>