{{!-- contact page --}}
 <link rel="stylesheet" href="/assets/css/foster_home_details.css">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <!-- Navigation -->
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <h1>FUR-EVER HOMES</h1>
                </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li id="login">
                         <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </li>
                    <li>
                        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    </li>
                    <li>
                        <a href="/contact"><span class="glyphicon glyphicon-pencil"></span> Edit Foster Home Page</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>  
<br>   
            
    <div class="container ">
       <div class="col-md-12 jumbotron-fluid">
            <h2 id="voice"><strong>Fur-Ever Homes provides a voice for animals who need a second chance!</strong></h2>
            <br>
            <h4>Our mission is to re-home animals into loving homes, where they can live the rest of their lives in a safe, caring environment. We give them shelter and the promise of a home, as they reclaim the lives that have been stolen from them. </h4>

            <h4>It is our privilege to witness the peaceful demeanor that settles over them, illustrating the amazing resilience of animals – a resilience that inspires us to persevere. Fur-Ever Homes specializes in finding you the perfect pet for your family.</h4>

            <br><br>
        </div>
              
        <div class="container contacts">
            <div class=" favorites col-lg-3 col-md-6 col-xs-12">
                <img class="petPicture thumbnail" width="261px" height="205px" src="/assets/images/fluff.jpg" alt="fluff" contenteditable="true">
                <p class="name">Foster parent's name: <span id="edit" contenteditable="true"> John Doe </span></p>
                <p class="address">Address: <span id="edit2" contenteditable="true"> 100 Everywhere Street </span></p>
                <p class="phone">Contact #: <span id="edit3" contenteditable="true"> 555-555-4321 </span></p>
                <p class="email">Email: <span id="edit4" contenteditable="true"> <a href="mailto:johndoe@vmail.com" target ="_top">johndoe@vmail.com</a></span></p> 
                <p class="hours">Contact hours: <span id="edit5" contenteditable="true"> 10:00 - 4:00 p.m. </span></p>
            </div>
            <div class=" favorites col-lg-3 col-md-6 col-xs-12">

            </div>
            <div class=" favorites col-lg-3 col-md-6 col-xs-12 ">

            </div>
            <div class=" favorites col-lg-3 col-md-6 col-xs-12">
                
            </div>
        </div>

    </div>
    <script>
$(document).ready(function(){
  $("#edit").blur(function() {
    localStorage.setItem('editData', this.innerHTML);
  });

  if ( localStorage.getItem('editData') ) {
    $("#edit").html(localStorage.getItem('editData'));
  }
});

$(document).ready(function(){
  $("#edit2").blur(function() {
    localStorage.setItem('editData2', this.innerHTML);
  });

  if ( localStorage.getItem('editData2') ) {
    $("#edit2").html(localStorage.getItem('editData2'));
  }
});

$(document).ready(function(){
  $("#edit3").blur(function() {
    localStorage.setItem('editData3', this.innerHTML);
  });

  if ( localStorage.getItem('editData3') ) {
    $("#edit3").html(localStorage.getItem('editData3'));
  }
});

$(document).ready(function(){
  $("#edit4").blur(function() {
    localStorage.setItem('editData4', this.innerHTML);
  });

  if ( localStorage.getItem('editData4') ) {
    $("#edit4").html(localStorage.getItem('editData4'));
  }
});

$(document).ready(function(){
  $("#edit5").blur(function() {
    localStorage.setItem('editData5', this.innerHTML);
  });

  if ( localStorage.getItem('editData5') ) {
    $("#edit5").html(localStorage.getItem('editData5'));
  }
});

</script>