<!-- Custom Script -->
    <script src="assets/js/foster_home_details.js" type="text/javascript"></script>
    <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="no title">

<!--NAVIGATION -->
<div class="container hidden">
		<div class="row top-30">
         <div class="col-md-2 col-sm-2">
        <a class="btn btn-default" href="/authors">Manage Posts</a>
         </div>
    </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form id="cms">
                    <div class="form-group">
                        <label for="fosterHome">Foster home name: </label>
                        <input placeholder="Home name" type="text" class="form-control" id="fosterHome">
                            <br />
                            <label for="fosterParents">Foster parent name:</label>
                            <input placeholder="Parent name" type="text" class="form-control" id="fosterParents">
                                <br>
                                <label for="address">Address:</label>
                                <input placeholder="Address" type="text" class="form-control" id="address">
                                    <br />
                                    <label for="county">County:</label>
                                    <input placeholder="County" type="text" class="form-control" id="county">
                                        <br />
                                        <label for="contact">Contact number:</label>
                                        <input placeholder="Contact number" type="text" class="form-control" id="contact">
                                            <br />
                                            <label for="email">Email:</label>
                                            <input placeholder="Email" type="text" class="form-control" id="email">
                                                <br />
                                                <label for="hours">Hours:</label>
                                                <input placeholder="Hours available" type="text" class="form-control" id="hours">
                                                    <br />
                                                    <label for="website">Website:</label>
                                                    <input placeholder="http://" type="text" class="form-control" id="website">
                                                        <br />
                                                        <label for="image">Pet image url 1:</label>
                                                        <input placeholder="http://" type="text" class="form-control" id="image">
                                                            <br />
                                                            <label for="image2">Pet image url 2:</label>
                                                            <input placeholder="http://" type="text" class="form-control" id="image2">
                                                                <br />
                                                                <label for="image3">Pet image url 3:</label>
                                                                <input placeholder="http://" type="text" class="form-control" id="image3">
                                                                    <br />
                                                                    <label for="active">Available for adoption?</label>
                                                                    <select class="form-control" id="active">
                                                                        <option value="False"> </option>
                                                                        <option value="True">True</option>
                                                                        <option value="False">False</option>
                                                                    </select>
                                                                    <br />
						<div class="form-group">
							<label for="category">Select Author:</label>
							<select class="form-control" id="author">
  						</select>
						</div>
						<br />
						<button type="submit" class="btn btn-success submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
