{{!-- contact page --}}
 <link rel="stylesheet" href="/assets/css/foster_home_details.css">

  <!-- Navigation -->
<div class="shadow">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     
       <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <h1>Fur-Ever Homes</h1>
                </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li id="login">
                         <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </li>
                    <li>
                        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    </li>
                    <li>
                        <a href="/contact"><span class="glyphicon glyphicon-pencil"></span> Edit Foster Home Page</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>  
<br>   
            
    <div class="container ">
       <div class="col-md-12 jumbotron-fluid">
            <h1>Fur-Ever Homes provides a voice for animals who need a second chance!</h1>
            <h4>Our mission is to re-home animals into loving homes, where they can live the rest of their lives in a safe, caring environment. We give them shelter and the promise of a home, as they reclaim the lives that have been stolen from them. </h4>

            <h4>It is our privilege to witness the peaceful demeanor that settles over them, illustrating the amazing resilience of animals – a resilience that inspires us to persevere. Fur-Ever Homes specializes in finding you the perfect pet for your family.</h4>

            <br><br>
        </div>
              
        <div class="container contacts">
            <div class=" favorites col-lg-3 col-md-6 col-xs-12">
                <img class="petPicture thumbnail" width="261px" height="205px" src="/assets/images/fluff.jpg" alt="fluff">
                <p name="name">Foster parent's name: John Doe</p>
                <p address="address">Address: 100 Everywhere Street</p>
                <p class="phone">Contact #: 555-555-4321</p>
                <p>Email: <a href="mailto:johndoe@vmail.com" target ="_top">johndoe@vmail.com</a> </p> 
                <p>Contact hours: 10:00 - 4:00 p.m.</p>
            </div>
            <div class=" favorites col-lg-3 col-md-6 col-xs-12">

            </div>
            <div class=" favorites col-lg-3 col-md-6 col-xs-12 ">

            </div>
            <div class=" favorites col-lg-3 col-md-6 col-xs-12">
                
            </div>
        </div>

    </div>