    <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="no title">
     <!-- Custom Script -->
        <script src="assets/js/foster_home_edit.js" type="text/javascript"></script>

<!-- Navigation-->
    <div class="container">
        <div class="row top-30">
            <div class="col-md-2 col-sm-2">
                <!-- <a class="btn btn-default" href="/cms">New Post</a> -->
            </div>
            <div class="col-md-2 col-sm-2">
                <!--        <a class="btn btn-default" href="/cms">New Post</a> -->
            </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="author-container">
                    <h1>Foster Parents</h1>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <!-- <th># of Posts</th> -->
                                <th>Your Post</th>
                                <th>Describe Pet 1</th>
                                <th>Describe Pet 2</th>
                                <th>Describe Pet 3</th>
                                <th>Delete Account</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="form-row">
                                <form id="author-form">
                                    <td colspan="4">
                                        <input placeholder="Enter User Name" id="author-name" type="text" />
                                    </td>
                                    <td><button type="submit" class="btn btn-success">Create Account</button>
                                    </td>
                                </form>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        