
<link rel="stylesheet" type="text/css" href="/assets/css/index.css">
<script src="/assets/js/circletype.min.js"></script>
<script src="/assets/js/mainPage.js"></script>

<!-- Navigation -->
<video poster="" id="bgvid" playsinline autoplay muted loop>
<!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
{{!--<source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">--}}
<source src="assets/videos/puppy.mp4" type="video/mp4">
</video>
     <div>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

           <div class="container">
                <div class="navbar-header">
                    <h1>FUR-EVER HOMES</h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="search">
                            <a href="/search"><span class="glyphicon glyphicon-search"></span> Pet Search</a>
                        </li>
                        <li id="admin-signup">
                            <a href="/signup"><span class="glyphicon glyphicon-user"></span> Foster Home Signup</a>
                        </li>
                        <li id="admin-login">
                            <a href="/login"><span class="glyphicon glyphicon-login"></span> Foster Home Login</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
     <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
<div class="row text-center">
    <div class="col-md-12">
        <h3 class="adaption">Help Them Reclaim Their Lives!</h3>
    </div>
        {{!-- http://circletype.labwire.ca/ --}}
      
</div>
     