<!-- Custom Script -->
    <script src="assets/js/pet_details.js" type="text/javascript"></script>
    <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="no title">

<!--NAVIGATION -->
<div class="container hidden">
		<div class="row top-30">
         <div class="col-md-2 col-sm-2">
        <a class="btn btn-default" href="/authors">Manage Posts</a>
         </div>
    </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form id="cms">
                    <div class="form-group">
                        <label for="name">Pet name: </label>
                        <input placeholder="Pet name" type="text" class="form-control" id="name">
                            <br />
                            <label for="species">Foster parent name:</label>
                            <input placeholder="Species" type="text" class="form-control" id="species">
                                <br>
                                <label for="age">Age:</label>
                                <input placeholder="Address" type="text" class="form-control" id="age">
                                    <br />
                                    <label for="temper">Temperament:</label>
                                    <input placeholder="Temperament" type="text" class="form-control" id="temper">
                                        <br />
                                        <label for="gender">Gender:</label>
                                        <input placeholder="Gender" type="text" class="form-control" id="gender">
                                            <br />
                                            <label for="description">Description:</label>
                                            <input placeholder="Description" type="text" class="form-control" id="description">
                                                <br />
                                                <label for="image">Pet image url:</label>
                                                <input placeholder="http://" type="text" class="form-control" id="image">
                                                    <br />
                                                    <label for="available">Available for adoption?</label>
                                                    <select class="form-control" id="available">
                                                        <option value="True"> </option>
                                                        <option value="True">True</option>
                                                        <option value="False">False</option>
                                                    </select>
                                                        <br />
                                                        
						<div class="form-group">
							<label for="category">Select Author:</label>
							<select class="form-control" id="author">
  						</select>
						</div>
						<br />
						<button type="submit" class="btn btn-success submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
