

{{!-- <script src ="static/js/signup.js" ></script> --}}
<link rel="stylesheet" href="/assets/css/signup.css">
<script src="/assets/js/signup.js"></script>

<!-- Navigation -->
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <h1>FUR-EVER HOMES</h1>
                </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li id="home">
                            <a href="/index"><span class="glyphicon glyphicon-home"></span> Home</a>
                        </li>
                    <li id="login">
                        <a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
                    </li>
                    <li>
                        <a href="/contact"><span class="glyphicon glyphicon-pencil"></span> Foster Home Page</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <form class="" method="POST" action="/signup" >
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>
                <div class="login-form">
                    <div class="sign-up-htm text-center">
                        {{#if BadPassword}}
                        <h4 class="BadPass">{{BadPassword}}</h4>
                        {{/if}}
                        {{#if baderror}}
                        <h4 class="BadPass">{{baderror}}</h4>
                        {{/if}}
                        <div class="group">
                            <label for="user" class="label">Name</label>
                            <input id="user" type="text" name="name"  class="input">
                        </div>
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="user" type="text" name="username"  class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" id="password" name="password"  class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repeat Password</label>
                            <input id="pass" type="password" class="input" name="confirm" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Email Address</label>
                            <input id="pass" type="text" name="email" class="input">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>