video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /*z-index: -100;*/
    transform: translateX(-50%) translateY(-50%);
    /*background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
    background-size: cover;
    transition: 1s opacity;
}

h1 {
    color: white;
    margin-left: 20px;
    font-family: "Denmark";
}

.adaption {
    font-family: 'Gabriela';
    font-size: 56px;
    margin-bottom: -150px;
    margin-top: 100px;
    font-weight: bold;
    color: white;
}